@page "/sign-up"
@attribute [AllowAnonymous]
<MudForm @ref="@_mudForm">
    <MudCard Class="ma-auto" Style="width: 30%">
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h4">Зарегистрироваться</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText>Уже есть аккаунт? <MudLink Href="/sign-in">Войти</MudLink></MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Никнейм" Variant="Variant.Outlined" @bind-Value="_request.UserName"
                                  Validation="@((string userName) => UserValidationService.ValidateUserName(userName))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined" @bind-Value="_request.Email"
                                  Validation="@((string email) => UserValidationService.ValidateEmail(email))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Пароль" Variant="Variant.Outlined"
                                  @bind-Value="_request.Password"
                                  InputType="_inputType" Adornment="Adornment.End"
                                  AdornmentIcon="@_inputIcon" OnAdornmentClick="Toggle"
                                  Validation="@((string password) => UserValidationService.ValidatePassword(password))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Подтверждение пароля" Variant="Variant.Outlined"
                                  @bind-Value="_request.RepeatedPassword"
                                  InputType="InputType.Password"
                                  Validation="@((string repeatedPassword) => UserValidationService.ValidateRepeatedPassword(_request.Password, repeatedPassword))"/>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" OnClick="OnClickAsync">
                        Зарегистрироваться
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudForm>